---
layout: layouts/home.njk
title: Archive
permalink: /archive/
eleventyNavigation:
  key: Archive
  order: 2
---

<h1>Archive</h1>

<h2>Blog Posts</h2>
<p>
  <a href="{{ '/posts/' | url }}">See all blog posts.</a>
</p>

<h2>Pages</h2>
<p>
  <a href="{{ '/page-list/' | url }}">See all pages.</a>
</p>

<h2>Tags</h2>
<p>
  <a href="{{ '/tags/' | url }}">See all tags.</a>
</p>