---
layout: layouts/home.njk
standalone: true
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hey, I'm <a href="{{ '/about/' | url }}">Tim</a> and this is my Tech Blog.</h1>

<div class="home-heading">
  <h2>Latest Posts</h2>
  <a href="{{ '/posts/' | url }}">All posts</a>
</div>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<h2>Tags</h2>

<ul class="post-tags-list">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <li class="post-tag">
      <a href="{{ tagUrl | url }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>