---
layout: layouts/home.njk
title: All Pages
permalink: /page-list/
---
<table>
  <thead>
    <th>Page URL</th>
    <th>Page Title</th>
  </thead>
  <tbody>
    {%- for entry in collections.all %}
      <tr>
        <td>
          <a href="{{ entry.url }}">
            {{ entry.data.title }}
          </a>
        </td>
        <td>
          <code>{{ entry.url }}</code>
        </td>
      </tr>
    {%- endfor %}
  </tbody>
</table>