<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set documentTitle %}{{ title | safe or "" }}{% if title %} - {% endif %}{{ metadata.title | safe }}{% endset %}
    <title>{{ documentTitle }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="preload" href="{{ '/fonts/firasans-regular.woff2' | url }}" as="font">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#333333">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="{{ title or metadata.title }}" />
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}" />
    <meta property="og:image" content="{{ '/img/mozilla-dino-poster-square-greyscale.png' | url | absoluteUrl(metadata.url) }}" />
    <meta property="og:site_name" content="{{ metadata.title }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="{{ metadata.author.twitter }}" />
  </head>
  <body>
    <header>
      <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <nav role="navigation" aria-label="Main">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p>
        This blog was made with <a href="https://www.11ty.dev/">Eleventy</a> and is an absolute rip-off of <a href="https://github.com/11ty/eleventy-base-blog">eleventy-base-blog</a>.
        <br>
        {% set firstPost = collections.posts | first %}
        <a href="https://github.com/ziir/timtech.blog">View the code on GitHub</a> or <a href="{{ firstPost.url | url }}">read more about how it was set up</a>. 
      </p>
    </footer>
  </body>
</html>
