<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set documentTitle %}{{ title | safe or "" }}
    {% if title and not standalone %} - {% endif %}
    {% if not standalone %}
      {{ metadata.title | safe }}
    {% endif %}
    {% endset %}
    <title>{{ documentTitle }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="preload" href="{{ '/fonts/firasans-regular.woff2' | url }}" as="font" crossorigin="anonymous">
    <link rel="preload" href="{{ '/fonts/firasans-semibold.woff2' | url }}" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#333333">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="{{ documentTitle }}"/>
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}"/>
    {% set openGraphImage %}
    {{ image.path if image and image.path else '/img/mozilla-dino-poster-square-greyscale.png' }}
    {% endset %}
    <meta property="og:image" content="{{ openGraphImage | url | absoluteUrl(metadata.url) }}"/>
    <meta property="og:site_name" content="{{ metadata.title }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="{{ metadata.author.twitter }}"/>
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>
      <nav role="navigation" aria-label="Main">
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p>
        {% set firstPost = collections.posts | first %}
        Built with <a href="https://www.11ty.dev/">Eleventy</a> and <a href="https://github.com/11ty/eleventy-base-blog">eleventy-base-blog</a>.
        <br>
        <a href="{{ firstPost.url | url }}">Setting up this blog (quickly) with Eleventy.</a>
        <hr>
        <ul class="footer-links">
          <li>
            <a title="About me" href="{{ '/about/' | url }}">Timothée Pillard</a>
          </li>
          <li>
            <a title="hachyderm.io/@tpillard on Mastodon" href="https://hachyderm.io/@tpillard">Mastodon</a>
          </li>
          <li>
            <a title="@tpillard on Twitter" href="https://twitter.com/tpillard">Twitter</a>
          </li>
          <li>
            <a title="@ziir on GitHub" href="https://github.com/ziir">GitHub</a>
          </li>
          <li>
            <a title="Timothée Pillard on LinkedIn" href="https://www.linkedin.com/in/timoth%C3%A9e-pillard/">LinkedIn</a>
          </li>
        </ul>
      </p>
    </footer>
  </body>
</html>